{
	"extends": ["prettier", "plugin:@typescript-eslint/recommended"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["prettier", "@typescript-eslint"],
	"ignorePatterns": ["**/*.js"],
	"root": true,
	"rules": {
		"import/no-unresolved": "off",
		"import/extensions": "off",
		"@typescript-eslint/no-var-requires": "warn",
		"@typescript-eslint/no-empty-function": "warn",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		]
	}

}
